#projetos h1 {
  text-align: center;
  font-size: 3em;
  color: #fcfcfc;
}

#all-projects {
  width: calc(100vw - 300px);
  height: 100vh;
  padding: 50px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-project-shadow,
.card-project:not(:has(*)) {
  display: none;
}

.card-project {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-color: #2C3E50;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.card-project:hover {
  background-color: #3498DB;
}

.card-project h2 {
  color: white;
  margin: 20px 0;
  font-size: 1.8em;
  transition: color 0.3s ease-in-out;
}

.card-project p {
  margin: 0 20px;
  color: #ECF0F1;
  font-size: 1.2em;
  text-indent: 20px;
  transition: color 0.3s ease-in-out;
}

